:root {
    --primary-color-light: #008fe2;
    --primary-color: #0079bf;
    --primary-color-dark: hsl(202, 100%, 32%);
    --secondary-color: white;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: var(--primary-color-dark);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color-light);
    border-radius: 10px;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: var(--primary-color);
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    margin: 0;
    overflow-y: hidden; /* Hide vertical scrollbar */
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #233138;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 4rem;
}

.sidenav p.is-title {
    font-size: 1.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav p:hover {
    color: white;
}

.sidenav > ul {
    list-style: none;
    padding-left: 0;
}

.sidenav > ul > li {
    font-size: 1rem;
    color: black;
    background-color: #f3f3f3;
    padding: 0.5rem;
    margin-inline: 1em;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px var(--primary-color-light);
}

.sidenav > ul > li.is-active {
    box-shadow: 3px 3px yellow;
}

.sidenav > ul > li.is-active:hover {
    box-shadow: 3px 3px orange;
}

.sidenav > ul > li:hover {
    color: var(--primary-color-dark);
    cursor: pointer;
    box-shadow: 3px 3px var(--primary-color-dark);
}
  
.sidenav #sidebar-close {
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.25rem;
    margin-left: 50px;
}

.container {
    width: min(99%, 90.5rem);
    margin-inline: auto;
    overflow-x: auto;
    min-height: 85%;
}

#cards-container {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.85rem;
}

.parent-card {
    flex-shrink: 0;
    padding: 1rem 0.5rem;
    background-color: #d9dfe9;
    border-radius: 0.3rem;
    width: 18.5rem;
    box-shadow: 3px 3px 3px rgba(17, 17, 17, 0.150);
}

.card-title {
    font-size: 1.2rem;
}

.item-title {
    font-size: 1rem;
}

.parent-card > ul {
    max-height: 20rem;
    overflow-y: auto;
    padding-left: 0;
    list-style: none;
}

.parent-card > span {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.parent-card > ul > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    background-color: #f3f3f3;
    padding: 0.5rem;
    margin-right: 0.5em;
    margin-bottom: 0.7rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px rgba(107, 107, 107, 0.63);
}

.parent-card > ul > li > span {
    letter-spacing: 0.7rem;
}

.fa {
    display: block;
    left: 50%;
}

.fa:hover, #sidebar-button:hover {
    cursor: pointer;
    color: var(--primary-color-light);
}

.parent-card > ul > li > p {
    margin: 0;
}

.text-align-center {
    text-align: center;
}

.text-fix {
	word-break: break-all;
    text-overflow: ellipsis;
    margin: 15.936px 0px;
}

.unselectable {
    user-select: none;
}

#title {
    background-color: var(--primary-color-dark);
    color: white;
    margin: 0;
    font-weight: 600;
}

input[type="text"] {
    border: none;
    border-bottom: 2px solid black;
    font-size: 1em;
    width: 15rem;
    background-color: transparent;
}

input[type="text"]:focus {
    border: none;
    border-bottom: 2px solid var(--primary-color);
    outline: none;
}

#add-card > input[type="text"]::placeholder {
    color: black;
}

#add-card > input[type="text"]:focus {
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    outline: none;
}

#add-board-button {
    border: none;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: black;
    padding: 0.5em 1em;
    box-shadow: 0px 2px var(--primary-color-light);
    margin-bottom: 2rem;
}

#add-board-button:hover {
    cursor: pointer;
    color: white;
    box-shadow: 0px 2px white;
}

#add-board-text {
    width:100%;
    color:white;
}

.plus-button {
    border: none;
    font-size: 1.5em;
    border-radius: 100%;
    background-color: var(--primary-color-dark);
    color: white;
    padding: 0.2em 0.5em;
    cursor: pointer;
    transition: 0.3s;
}

.plus-button:hover {
    background-color: var(--primary-color-light);
}

header {
    background-color: var(--primary-color-dark);
}

.header-flex {
    margin-inline: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-block: 0.1rem;
    margin-bottom: 1rem;
}

.flex-col {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

/* Context Menu */

.context-menu {
    background: #ebebeb;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 5px rgba(17, 17, 17, 0.200);

    position: fixed;
    z-index: 15;
    width: 150px;
    display: none;

    transform: scale(0);
    transform-origin: top left;
}

.context-menu.visible {
    display: block;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.context-menu ul li {
    cursor: pointer;
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
}

.context-menu ul li:hover {
    background:#d9d9d9;
}

.context-menu ul {
    list-style-type: none;
    padding: 0;
}

#alert-container {
    position: relative;
}

#alerts {
    position: absolute;
    bottom: 20px;
    right:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.alert {
    background-color: white;
    color: black;
    padding-block: 0.2rem;
    padding-inline: 2rem;
    border-left: 5px solid red;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(107, 107, 107, 0.63);
}

.animate-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.35s, opacity 0.35s linear;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.dialog-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.confirm-dialog-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.confirm-dialog-text {
    margin-top: 1rem;
}

.confirm-dialog-close:hover,
.confirm-dialog-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.confirm-dialog-actions {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.confirm-dialog-cancel {
    border: none;
    background-color: inherit;
    padding: 7px 14px;
    cursor: pointer;
    display: inline-block;
    color: indianred;
}

.confirm-dialog-confirm {
    border: 2px solid var(--primary-color-dark);
    background-color: white;
    padding: 7px 14px;
    cursor: pointer;
    color: var(--primary-color-dark);
}